body{
    background-color: rgb(173, 255, 255);
}

.first{
    background-color: hwb(33 77% 0%);
}

h2 {
    color: purple;
}

#itemone {
    color: purple;
    text-decoration: overline;
}

#textblock {
    width: 800px;
    height: 400px;
}

li a {
    color: red;
}

.blogtext textarea{
    border: 4px solid gray;
}

.loginForm input{
    border: 2px solid purple;
}

.exit {
    border: 5px dashed yellow;
    background-color: blue;
}

.exit p{
    background-color: rgb(255, 255, 141);
}