body{
    background-color: rgb(1, 22, 39);
    text-align: center;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3em;
    margin-bottom: 0px;
    
    border-style: solid;
    border-top: 0px;
    border-width: 30px;
    font-family: 'Work Sans', sans-serif;
    
}

#subheading{
    margin-bottom: 7em;
}

p{
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5em;
}

#firstPP{
    margin-bottom: 5em;
    
}

#launch{
    font-style: bold;
    margin-bottom: 4em;
}

form input{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    width: 10em;
}

#email{
    margin-bottom: 1.5em;
}

#submit{
    font-family: 'Work Sans', sans-serif;
    font-style: bold;
    font-size: 0.7cm;
    margin-bottom: 3em;
    width: 6.5em;
    height: 3em;
    background-color: #ff9f1c;
    border: 0px;
    border-radius: 1em;
}