<!DOCTYPE html>
{% load static %} <!-- will automatically load static files to use... load (name of folder) -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static "css/pog.css" %}" >
    <title>Hello_World</title>
</head>
<body>
    <h1>Wow this is index.html!</h1>
    {{ insert_me }}
    <h3>OMG this is Omori Cathy ;3</h3>
    <img src="{% static "images/cathOmori.png" %}" alt="Uh oh, stinky">
</body>
</html>