h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family: monospace;
}

body{
    font-size: 20px;
}

#two {
    font-size: 0.75em;
}

/* em values... default:
1em = 16px... this value is based on body?
2em = 32px
*/

p{
    font-style: italic;
    font-weight: bold;
}

h1{
    text-align: center;
}