h1{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-size: 500%;
    margin-bottom: 1%;
}

table{
    margin: auto;
    width: 750px;
}

td{
    background-color: red;
    width: 125px;
    padding-bottom: 320px;
    border: 3px white solid;
}

#one{
    
    background-color: #156064;
}

#two {
    background-color: #00c49a;
}

#three {
    background-color: #F8E16C;
}

#four {
    background-color: #FFC2B4;
}

#five {
    background-color: #FB8F67;
}